.home{
    background-color: #242a4c;
    width: 85%;
    border-top-left-radius: 50px;
    padding: 60px 140px 0px 40px;
}

.welcome{
    margin-bottom: 30px;
    background-color: #2b335a;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome_left{
    width: 40%;
}

.welcome_right{
    width: 60%;
}

.welcome_right img{
    width: 80%;
}

.welcome_left a{
    display: inline-block;
    text-decoration: none;
    background-color: #232a4c;
    color: white;
    font-size: .9rem;
    padding: .8em;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
}

.welcome_left a:hover{
    background-color: #1b213e;
}

/* //recommended */

.recommended{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.recommended_book{
    cursor: pointer;
    position: relative;
    font-size: .8rem;
    display: flex;
    gap: 10px;
}

.go_to_detail{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 0;
    transition: .6s width;
    overflow: hidden;
    height: 100%;
}

.go_to_detail a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
}

.recommended_book:hover .go_to_detail{
    width: 100%;
}

.recommended_book img{
    width: 150px;
}

.autor{
    margin-block: 5px;
    opacity: .7;
    font-size: 1.2rem;
}

.stars{
    margin-block: 10px;
}

.book_description{
	font-family: 'Poppins', sans-serif;
    height: 111px;
    overflow: hidden;
}


@media screen and (max-width: 1024px) {
    .home{
        padding-right: 40px;
        width: 80%;
    }
    .recommended{
        gap: 5px;
    }
}

@media screen and (max-width: 768px) {
    .home{
        padding-inline: 20px;
        width: 77%;
    }

    .welcome{
        flex-direction: column-reverse;
        padding: 10px;
    }

    .welcome_left,.welcome_right{
        width: 80%;
    }
    .recommended{
        flex-direction: column;
    }

    .recommended_book{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .home{
        width: 100%;
        border-top-left-radius: 0;
        padding: 10px;
    }

    .welcome_left,.welcome_right{
        width: 100%;
    }

    .welcome_right img{
        width: 100%;
    }
}


/* //if hovering is imopsible */
@media (hover: none) {
    .go_to_detail{
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        align-items: flex-end;
        justify-content: flex-end;
    } 
    
    .go_to_detail a{
        font-size: 1rem;
        padding: 5px;
        border-radius: 0;
    }
}